/* custom_styles.css */
.my-table {
    border-collapse: collapse;
    width: 100%;
}

.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.my-table tr:nth-child(even){background-color: #f2f2f2;}

.my-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
